# Visual Studio Code
.vscode

# Dependency directories
node_modules

# Logs
logs
*.log

# User preferences
backend/user-preferences/*
!backend/user-preferences/default.config.json

# Others
voice-commander-for-spotify/dist
backend/frontend/*
