.container {
	padding: 0 25px;

	.card {
		margin: auto;
		max-width: 600px;
		margin-top: calc((100vh - 205px - 70px) / 2);

		.card-header {
			color: #FFF;
			background-color: #00A339;
		}

		a {
			color: #FFF;
		}
	}
}
