div.text-primary span {
	line-height: 32px;
}

:host::ng-deep {
	.list-group-item:hover {
		cursor: grab;
	}

	.list-group-item:active {
		cursor: grabbing;
	}

	.list-group-item {
		.fix-pos {
			position: relative;
			top: 8px;
		}
	}
}
