<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="playlists">
			<i class="mr-1 fa" [class.fa-caret-right]="isCollapsed" [class.fa-caret-down]="!isCollapsed"></i>
			Settings
		</div>
		<div class="card-body" id="playlists" [collapse]="isCollapsed" [isAnimated]="true">
			<tabset [justified]="true">
				<tab heading="Playlists">
					<div class="row">
						<div class="col-12">
							<bs-sortable
								[(ngModel)]="playlists"
								[itemTemplate]="itemTemplate"
								itemClass="list-group-item list-group-item-action list-group-item-dark"
								itemActiveClass="list-group-item list-group-item-action active"
								placeholderClass="placeholderStyle"
								wrapperClass="list-group"></bs-sortable>

							<ng-template #itemTemplate let-item="item" let-index="index">
								<i class="fas fa-grip-vertical mr-3"></i>
								<img [src]="getImg(item.value)" class="mr-3"/>
								<span>{{ item.value.name }}</span>

								<span class="float-right">
									<span class="float-left mr-3">{{ item.value.tracks.total }} song{{ item.value.tracks.total > 1 ? 's' : '' }}</span>
									<ui-switch
										class="fix-pos"
										color="#00A339"
										defaultBoColor="none"
										[(ngModel)]="item.value.not_ignored"
										(change)="onSwitchChange()"></ui-switch>
								</span>
							</ng-template>
						</div>
					</div>
				</tab>
				<tab heading="Preferences">
					TODO: Edit user preferences here...
				</tab>
			</tabset>
		</div>
	</div>
</div>

<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isConsoleCollapsed = !isConsoleCollapsed" [attr.aria-expanded]="!isConsoleCollapsed" aria-controls="console">
			<i class="mr-1 fa" [class.fa-caret-right]="isConsoleCollapsed" [class.fa-caret-down]="!isConsoleCollapsed"></i>
			Voice commander
		</div>
		<div class="card-body" id="console" [collapse]="isConsoleCollapsed" [isAnimated]="true">
			<tabset [justified]="true">
				<tab heading="Commander console">
					TODO: Voice commander options here... such as recording options, ambiguities solving and command prompt.
				</tab>
				<tab heading="Last commands">
					TODO: History of commands here... add a button to perform the command again.
				</tab>
			</tabset>
		</div>
	</div>
</div>
