<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isConsoleCollapsed = !isConsoleCollapsed" [attr.aria-expanded]="!isConsoleCollapsed" aria-controls="console">
			<i class="mr-1 fa" [class.fa-caret-right]="isConsoleCollapsed" [class.fa-caret-down]="!isConsoleCollapsed"></i>
			Voice Commander
		</div>
		<div class="card-body p-0" id="console" [collapse]="isConsoleCollapsed" [isAnimated]="true">
			<div class="p-3">
				<tabset [justified]="true">
					<tab heading="Commander console" class="p-3">
						<app-commander-console></app-commander-console>
					</tab>
					<tab heading="Latest commands">
						<app-latest-commands></app-latest-commands>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>

<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="playlists">
			<i class="mr-1 fa" [class.fa-caret-right]="isCollapsed" [class.fa-caret-down]="!isCollapsed"></i>
			Settings
		</div>
		<div class="card-body p-0" id="playlists" [collapse]="isCollapsed" [isAnimated]="true">
			<div class="p-3">
				<tabset [justified]="true">
					<tab heading="Playlists">
						<app-playlists></app-playlists>
					</tab>
					<tab heading="Preferences" class="p-3">
						<app-preferences></app-preferences>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>
