<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isConsoleCollapsed = !isConsoleCollapsed" [attr.aria-expanded]="!isConsoleCollapsed" aria-controls="console">
			<i class="mr-1 fa" [class.fa-caret-right]="isConsoleCollapsed" [class.fa-caret-down]="!isConsoleCollapsed"></i>
			Voice commander
		</div>
		<div class="card-body p-0" id="console" [collapse]="isConsoleCollapsed" [isAnimated]="true">
			<div class="p-3">
				<tabset [justified]="true">
					<tab heading="Commander console" class="p-3">
						TODO: Voice commander options here... such as recording options, ambiguities solving and command prompt.
					</tab>
					<tab heading="Last commands" class="p-3">
						TODO: History of commands here... add a button to perform the command again.
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>

<div class="container mt-4 p-0">
	<div class="card">
		<div class="card-header" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="playlists">
			<i class="mr-1 fa" [class.fa-caret-right]="isCollapsed" [class.fa-caret-down]="!isCollapsed"></i>
			Settings
		</div>
		<div class="card-body p-0" id="playlists" [collapse]="isCollapsed" [isAnimated]="true">
			<div class="p-3">
				<tabset [justified]="true">
					<tab heading="Playlists">
						<app-playlits></app-playlits>
					</tab>
					<tab heading="Preferences" class="p-3">
						TODO: Edit user preferences here...
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>
